.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f4c2c2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Page-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.Time-text {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.Info-text {
  font-size: 20px;
  color: #000;
}

.Display-time {
  font-size: 35px;
  text-align: center;
  color: white;
}
