.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #4579ac;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(223, 218, 218);
}

.App-link {
  color: #61dafb;
}

.Page-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
}

.Time-text {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.Info-text {
  font-size: 14px;
  width: 80%;
  color: #000;
  text-align: center;
}

.Display-same-day {
  font-size: 15px;
  text-align: center;
  color: rgb(223, 218, 218);
  font-weight: 200;
}

.Display-hours-slept {
  font-size: 18px;
  text-align: center;
  color: rgb(223, 218, 218);
  font-weight: 300;
}

.Center-div {
  display: flex;
  justify-content: center;
}

.Bordered-div {
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  border-color: darkgray;
  width: 150%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Times-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
